<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <!--
    <type name="Huang\HelloWorld\Controller\Index\Example">
        <plugin name="huang_helloworld_index"
                type="Huang\HelloWorld\Plugin\AaaPlugin"
                sortOrder="1" disabled="false"/>
    </type>
    -->

    <!--
        for：父类、抽象类、interface
        type：实现的类
    -->
    <!--
    <preference
            for="Huang\HelloWorld\MyInterface"
            type="Huang\HelloWorld\My" />
    -->

    <!-- 自定义的插件 -->
    <type name="Magento\Theme\Block\Html\Topmenu">
        <plugin name="catalogTopmenu" type="Magento\Catalog\Plugin\Block\Topmenu" />
    </type>

    <type name="Magento\Theme\Block\Html\Topmenu">
        <plugin name="catalogTopmenu2" type="Huang\HelloWorld\Plugin\Topmenu" />
    </type>

    <!--后端post - list页面数据源-->
    <!-- name只是个字符串，其中的类不一定存在的 -->
    <virtualType name="Huang\HelloWorld\Model\ResourceModel\Post\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">huang_helloworld_post</argument>
            <argument name="resourceModel" xsi:type="string">Huang\HelloWorld\Model\ResourceModel\Post</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <!-- name = dataSource-name -->
                <!-- val = virtualType - name -->
                <item name="huang_helloworld_post_listing_data_source" xsi:type="string">Huang\HelloWorld\Model\ResourceModel\Post\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <type name="Huang\HelloWorld\Ui\Component\MassAction\Status\Options">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="urlPath" xsi:type="string">huang_helloworld/post/massStatus</item>
                <item name="paramName" xsi:type="string">status</item>
                <item name="confirm" xsi:type="array">
                    <item name="title" xsi:type="string" translatable="true">Change Status</item>
                    <item name="message" xsi:type="string" translatable="true">Are you sure you wan't to update selected items status?</item>
                </item>
            </argument>
        </arguments>
    </type>

    <!-- commandline -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="exampleSayHello" xsi:type="object">Huang\HelloWorld\Console\Sayhello</item>
            </argument>
        </arguments>
    </type>
</config>